* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	font-size: 16px; 
	font-family: Arial, sans-serif; 
}

.page {
	width: 100%;
	height: 100%;
	flex :1 ;
	display: flex;
	flex-direction: row;
}

.leftcontainer {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.image {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}


.rightcontainer {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.top {
	width: 100%;
	height: 40%;
	background-color: rgb(238, 238, 238);
	padding: calc(10px + 1vw);
	display: flex;
	align-items: center;
	justify-content: start;
}

.top_content {
	width: 80%;
	font-size: calc(8px + 1vw);
	font-weight: bold;
	margin-top: calc(20px + 5vw);
}

.middle_right {
	background-color: white;
	width: 100%;
	height: 35%;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: calc(10px + 1vw);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

li {
	width: 100%;
	height: 33%;
	display: flex;
	flex-direction: column;
	padding: calc(0.5vw);
	margin-right: calc(20px + 5vw);
	margin-bottom: 12px;
}

label {
	color: rgb(153, 156, 156);
	font-family: Arial;
	font-size: calc(rem + 0.5vw);
	font-weight: 600;
}

input {
	height: calc(15px + 0.5vh);
	width: calc(200px + 4vw);
	border-radius: 3px;
	border-width: 0.5px;
	border-color: lightgray;
	border-style: solid;
}

.error-message {
	display: none;
	color: red;
	font-size: calc(0.5rem +0.5vw);
}

input:invalid + .error-message{
	display: inline-block;
	border-color: red;
	font-size: 12px;
}

.bottom {
	display: flex;
	flex-direction: column;
	padding: calc(10px + 1vw);
}

.create_button {
	background-color: lightgreen;
	height: calc(30px + 2vh);
	width: calc(150px + 4vw);
	border-radius: 5px;
	border: 1px none black;
	margin-bottom: calc(5px + 3vh);
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: lightgreen;
}